@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Archivo Narrow", sans-serif !important;
  font-optical-sizing: auto;

}
.navbar {
  overflow: visible ;
}

.SignupPage {
  background-image: url("./Images/Quize_background.jpg");
  background-size: cover;
  background-position: center;
}
.mack-view {
  background-color: rgba(0, 0, 0, 0.57);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.poupContainer
{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.372);
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poupContainer > div {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}